@model WinnipegForum.Models.Forum.ForumSubjectModel

<h1>Welcome to the @Model.Forum.Name</h1>

<span id="headingBtn"><a asp-controller="Post" 
                      asp-action="Create" 
                      asp-route-id="@Model.Forum.Id" class="btn btn-newPost">
                      Create Post</a></span>
@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach(var posts in Model.Posts)
            {
                <tr>
                    <td>
                        <a asp-controller="Post" asp-action="Index" asp-route-id="@posts.Id">
                            @posts.Title
                        </a>
                    </td>
                    <td>@posts.Title</td>
                    <td>@posts.AuthorName</td>
                    <td>@posts.DatePosted</td>
                    <td>@posts.RepliesCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <div class="noPosts">
        <h4>
            No posts in @Model.Forum.Name yet.<br/>
            <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
                <span>Create New Post</span>
            </a>
        </h4>
    </div>
}